@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/theme';

$black:  #333333;
$white:  #fff;
$pearl:  #F5F5F5;
$grey:   #ccc;
$orange: #F0AD4E;

body {
  background-color: $pearl;
}
